<!-- Halaman Daftar Pinjam -->

{% extends './components/base.html' %} 

{% block head %}
<title>Daftar Peminjam</title>
{% endblock %} 

{% block body %} 
{% include './components/navbar.html' %}

<div class="app__daftarBuku row px-3">
  <div class="p-0 d-grid d-md-block">
    <a
      class="app__daftarBuku-tambah btn btn-sm btn-danger my-2"
      href="{{ url_for('daftarBuku') }}"
    >
       Back
    </a>
    <a
      class="app__daftarBuku-tambah btn btn-sm btn-primary my-2"
      href="{{ url_for('tambahPinjam') }}"
    >
      <i class="bi bi-plus-square"></i> Tambah Pinjam
    </a>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger p-3"><h4 class="p-0 m-0">{{ messages[0] }}</h4></div>
    {% endif %}
  {% endwith %}


  <table
    class="app__daftarBuku-table table table-striped table-bordered text-center"
  >
    <tr class="table-primary align-items-center">
      <th class="col-2 align-middle">Kode Pinjam</th>
      <th class="col-2 align-middle">Kode Buku</th>
      <th class="col-3 align-middle">NIM</th>
      <th class="col-3 align-middle">Tanggal Pinjam</th>
      <th class="col-2 align-middle">Action</th>
    </tr>

    {% for data in container %}
    <tr>
      <td class="align-middle">{{ data[0] }}</td>
      <td class="align-middle">{{ data[1] }}</td>
      <td class="align-middle">{{ data[2] }}</td>
      <td class="align-middle">{{ data[3] }}</td>
      <td>
        <a class="col btn btn-sm btn-danger m-1" href="hapusPinjam/{{ data[0] }}"
          ><i class="bi bi-trash"></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% include './components/footer.html' %} 
{% endblock body %}
