<!-- Halaman Home -->

{% extends './components/base.html' %} 

{% block head %}
<title>Gramedia</title>
{% endblock %} 

{% block body %}
{% include './components/navbarHome.html' %}
{% include './components/banner.html' %} 
<div class="row app__home mb-5">
    <h1 class="app__home-slogan text-center fst-italic py-5">"Membaca adalah napas hidup dan jembatan emas ke masa depan."</h1>

    <div class="app__home-produk">
        <h1 class="app__home-produk_label text-center fw-bolder mt-5 mb-5">Buku Unggulan</h1>
        <div class="d-flex flex-wrap justify-content-around mx-5">
            <div class="app__home-produk_list">
                <img src="../static/media/gramedia/7 in 1 Pemrograman Web untuk Pemula.jpg" alt="">
                <p>7 in 1 Pemrograman Web untuk Pemula</p>
            </div>
            <div class="app__home-produk_list">
                <img src="../static/media/gramedia/DEMON SLAYER Kimetsu no Yaiba 08.jpg" alt="">
                <p>Kimetsu no Yaiba 08</p>
            </div>
            <div class="app__home-produk_list">
                <img src="../static/media/gramedia/Detektif Conan 99.jpg" alt="">
                <p>Detektif Conan 99.</p>
            </div>
            <div class="app__home-produk_list">
                <img src="../static/media/gramedia/Jujutsu Kaisen 05.jpg" alt="">
                <p>Jujutsu Kaisen 05</p>
            </div>
            <div class="app__home-produk_list">
                <img src="../static/media/gramedia/Masakan Rumahan Lezat Dan Nikmat.jpg" alt="">
                <p>Masakan Rumahan Lezat Dan Nikmat</p>
            </div>
            <div class="app__home-produk_list">
                <img src="../static/media/gramedia/Merancang Aplikasi Dengan Metodologi Extreme Programmings.jpg" alt="">
                <p>Merancang Aplikasi Dengan Metodologi Extreme Programmings</p>
            </div>
            <div class="app__home-produk_list">
                <img src="../static/media/gramedia/Panduan Praktis Budidaya Dan Pemeliharaan Cupang.jpg" alt="">
                <p>Panduan Praktis Budidaya Dan Pemeliharaan Cupang</p>
            </div>
            <div class="app__home-produk_list">
                <img src="../static/media/gramedia/Pemrograman Web Berbasis HTML 5, PHP, Dan JavaScript.jpg" alt="">
                <p>Pemrograman Web Berbasis HTML 5, PHP, Dan JavaScript</p>
            </div>
        </div>
    </div>
</div>

{% include './components/footer.html' %} 
{% endblock body %}