<!-- Halaman Tentang Kami -->

{% extends './components/base.html' %} 

{% block head %}
<title>Tentang Kami</title>
{% endblock %} 

{% block body %} 
{% include './components/navbarHome.html' %}

<div class="app__tentangKami px-5 mt-3">

  <h2>Tentang Gramedia</h2>
  <p>Gramedia.com hadir sejak tahun 2010 di bawah naungan Kompas Gramedia Group of Retail & Publishing. Pada tahun 2016, Gramedia.com diambil alih oleh Kompas Gramedia Group of Digital dan berada di bawah naungan Gramedia Digital Nusantara hingga saat ini.</p>
  <p>Misi kami adalah turut berpartisipasi dalam pengembangan intelektual bangsa dengan menyebarkan ilmu pengetahuan dan informasi melalui model retail yang berbeda. Kehadiran Gramedia.com diharapkan dapat membantu memberikan kemudahan bagi para pelanggan Toko Buku Gramedia dan masyarakat Indonesia untuk memenuhi kebutuhannya secara online.</p>
  <p>Kenyamanan dan kepuasan para pelanggan merupakan prioritas kami. Kami ingin memberikan pengalaman yang lebih kepada para pelanggan di saat pelanggan melakukan proses pembelanjaan baik online maupun offline dengan terus mengembangkan fitur-fitur produk. Memberikan pelayanan yang terbaik menjadi tujuan kami dengan dukungan manajemen yang proaktif dan kreatif.</p>
</div>

{% include './components/profil.html' %} 
{% include './components/footer.html' %} 
{% endblock body %} 

