{% extends './components/base.html' %} 

{% block head %}
<title>Tentang Sunlight</title>
{% endblock %} 

{% block body %} 
{% include './components/navbar.html' %}

<div class="app__tentangSunlight px-5 mt-3">
    <h1 class="app__home-produk_label text-center fw-bolder mt-5 mb-5">Tentang Sunlight</h1>

  <h2>AWAL MULA SUNLIGHT</h2>
  <p>
    160 tahun lalu, di sebuah apartemen sederhana di kota kecil di Inggris,
    seorang William Heskech Lever datang ke dunia ini. Ia lahir di lantai atas
    toko kelontong ayahnya. Namanya kini menjadi sebagian dari perusahaan
    terbesar di dunia - Unilever. Inilah saat di mana kisah Sunlight bermulai.
  </p>
  <h2>KETIKA IDE CEMERLANG BERMUNCULAN</h2>
  <p>
    Pada tahun 1884, William memulai usaha pembuatan sabun bersama saudaranya,
    James. Mereka menyebutnya “Lever Brothers “. Sabun pertama mereka merupakan
    salah satu yang pertama kali terbuat dari minyak nabati. Mereka menamakannya
    ‘Sunlight’ dan inovasi mereka tidak berhenti sampai di situ. Sunlight adalah
    sabun pertama yang tersedia dalam bentuk batangan, dikemas rapi dan disertai
    label - sesuatu yang menarik perhatian para ibu rumah tangga saat itu, di
    mana mereka harus memotong sabun mereka sendiri dari blok yang besar.
  </p>
  <h2>SUNLIGHT MULAI BERSINAR</h2>
  <p>
    Dalam empat tahun, Lever bersaudara begitu sukses hingga mereka memproduksi
    450 ton Sunlight setiap minggu. Pada dekade 1890an, Lever Brothers
    melebarkan sayap hingga ke Eropa, Amerika dan negara-negara koloni Inggris.
    Pada tahun 1900, Sunlight telah menjadi produk yang dipasarkan secara
    internasional. Pada tahun 1930, Lever Brothers bergabung dengan perusahaan
    Belanda, Margarine Unie dan membentuk Unilever.
  </p>
  <h2>SUNLIGHT HADIR DALAM BOTOL</h2>
  <p>
    Pada tahun 1973, Sunlight pencuci piring untuk pertama kalinya - menawarkan
    semua keunggulan dan kemampuan untuk membersihkan peralatan dapur dari sabun
    yang sudah terkenal, kini dalam bentuk cair yang mudah digunakan.
  </p>
  <h2>MENCERAHKAN SELURUH PENJURU DUNIA</h2>
  <p>
    Kini, Sunlight membuat hidup 2 milyar orang lebih cerah serta mendapat
    sentuhan keajaiban setiap harinya. Sunlight telah dijual di empat benua dan
    telah menjadi sabun pencuci piring terkemuka di banyak negara.
  </p>
  <h2>FILOSOFI KAMI</h2>
  <p>
    Dan itu semua kembali pada sebuah filosofi sederhana - ciptakan sesuatu yang
    betul-betul dapat mempermudah hidup seseorang, dan dedikasikan segala usaha
    untuk hal tersebut. Dedikasi Sunlight adalah untuk memberantas lemak kotor,
    pada setiap piring, di setiap dapur dan membuatnya lebih bersinar - tanpa
    harus merepotkan penggunanya ketika mencuci.
  </p>
  <p>
    Willian H. Lever telah memastikan misinya untuk ‘membuat kebersihan menjadi
    sesuatu yang wajar’, sesuatu yang kami jalankan hingga hari ini. Kami
    berdedikasi untuk menjadi yang terbaik, solusi pembersih yang termudah. Kami
    tidak akan berhenti berusaha untuk menjadi lebih baik. Namun kami juga
    bangga bahwa sejauh ini, kami telah melakukan pekerjaan kami dengan baik.
  </p>
</div>

{% include './components/profil.html' %} 
{% include './components/footer.html' %} 
{% endblock body %} 

