{% block navbar %}

<div class="app__navbar row flex-nowrap align-items-center justify-content-between px-2 py-3">
    
    <div class="col-6 d-flex flex-row align-items-center">
      <img class="app__navbar-logo p-0 pe-2" src="../../static/media/logo/gramedia-logo.png" alt="">
      <a class="app__navbar-title text-primary" href="{{ url_for('index') }}"><h2 class="mb-0 fw-bold">GRAMEDIA</h2></a>
    </div>
  
    <div class="col-6 justify-content-end d-flex">
        <a class="link-primary text-center mx-3 fw-bold text-primary" href="{{ url_for('tentang') }}">Tentang Kami</a>
        <a class="link-primary text-center mx-3 fw-bold text-primary" href="{{ url_for('login') }}">Login</a>
    </div>
</div>

{% endblock %}