{% block profil %}

<div class="row app__profil">
    <p class="mt-4 mb-3  text-center fs-1 fw-bold" style="color:black">Kelompok 3</p>

    <div class="d-flex flex-wrap">
        <div class="app__profil-profil col flex-column d-flex align-items-center">
            <img src="../static/media/Kelvin.jpg" alt=""> 
            <p>Kelvin Chandra</p>
            <p>32190041</p>
        </div>
        <div class="app__profil-profil  col flex-column d-flex align-items-center">
            <img src="../static/media/ferry.jpg" alt=""> 
            <p>Ferry Gunawan</p>
            <p>32190098</p>
        </div>
        <div class="app__profil-profil col flex-column d-flex align-items-center">
            <img src="../static/media/Kusuma.jpg" alt=""> 
            <p>Kevin Kusuma</p>
            <p>32190048</p>
        </div>
    </div>
</div>
{% endblock %}

